.download {
  margin-top: -72px;

  text-align: center;
  color: @color-white;

  background-color: #1d2631;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.download__wrapper {
  width: 320px;
  margin: 0 auto;
}

.download__text {
  margin: 0;
  padding: 95px 40px 290px 40px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.download__link-wrapper {
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.download__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @color-white;
  text-decoration: none;

  border: 3px solid @color-white;
  box-sizing: border-box;
  border-radius: 29px;

  &:hover {
    color: @color-bright;

    background-color: @color-white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__list {
  padding: 32px 38px;
}

.download__accessibility {
  margin: 0;
  padding-bottom: 38px;

  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download {
    text-align: left;
    background-image: url("../img/bg-image-tablet.jpg");
  }

  .download__wrapper {
    width: 660px;
  }

  .download__text {
    padding-bottom: 40px;
  }

  .download__link {
    width: 300px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .download {
    background-image: url("../img/bg-image-desktop.jpg");
  }

  .download__wrapper {
    width: 940px;
  }
}
