.form-button {
  display: block;
  width: 276px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;

  background: @color-form-buttons;
  border: 2px solid @color-form-buttons;
  border-radius: 1px;
}
