.full-name {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 44px;
  border: none;
}

.full-name__label {
  display: flex;
  flex-direction: column;
  padding-left: 23px;
  padding-top: 29px;
  padding-bottom: 17px;
}
