.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
}

.reviews__list {
  padding: 50px 20px 60px;
}

.reviews__item {
  margin: 0;
  text-align: center;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
}

.reviews__text {
  padding-bottom: 18px;

  line-height: 30px;
}
