.main-header {
  position: absolute;
  left: 50%;

  margin-left: -160px;
  padding-bottom: 374px;

  color: #ffffff;

  background-image: url("../../../../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  &--inner {
    background-image: url("../../../../img/bg-image-inner.jpg");
  }
}

.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-header__logo {
  position: absolute;
  z-index: 2;

  display: block;
  padding: 22px 20px;
}

.main-header__logo-image {
  display: block;
}
