.site-list {
  display: none;

  text-align: center;

  background-color: @color-darkgrey;
}

.site-list__item {
  padding: 20px;

  box-shadow: 0 1px 0 @color-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @color-white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: @color-bright;
  }

  &:active {
    color: @color-bright;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;

    background-color: transparent;
  }
}
