.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: @color-bright;
  }

  &:active {
    color: @color-bright;
    opacity: 0.3;
  }
}
